## Step 1: Preprocessing
Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, you’ll need to preprocess the dataset. This step prepares you for Step 2, where you'll compile, train, and evaluate the neural network model.

Using the information we have provided in the starter code, follow the instructions to complete the preprocessing steps.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

2023-02-08 21:33:52.890705: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff = 100
application_types_to_replace = []

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(
    classification_count[classification_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Step 2: Compile, Train and Evaluate the Model
Using your knowledge of TensorFlow, you’ll design a neural network, or deep learning model, to create a binary classification model that can predict if an Alphabet Soup–funded organization will be successful based on the features in the dataset. You’ll need to think about how many inputs there are before determining the number of neurons and layers in your model. Once you’ve completed that step, you’ll compile, train, and evaluate your binary classification model to calculate the model’s loss and accuracy.

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Dense(
    units = 16, activation = "relu", input_dim = X_train_scaled.shape[1]))

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(
    units = 16, activation = "relu", input_dim = 14))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(
    units = 20, activation = "relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(
    units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

2023-02-08 21:34:05.302728: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                832

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 20)                340

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 1,465
Trainable params: 1,465
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(
    loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [14]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(
    X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 4s 2ms/step - loss: 0.5877 - accuracy: 0.7041
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7306
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7308
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7305
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7310
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7319
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7308
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7326
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7327
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7338
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7331
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7318
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7329
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7340
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7347
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7347
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7345
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7346
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7357
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7347
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7359
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7362
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7376
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7363
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7365
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7365
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7375
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7366
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7371
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7366
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7372
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7370
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7378
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7366
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7380
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7379
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7374
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7376
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7375
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7381
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7378
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7378
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7376
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7378
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7386
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7389
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7389
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7383
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7384
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7387
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7393
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7381
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7394
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7391
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7391
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7388
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7391

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled, y_test, verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5569 - accuracy: 0.7279 - 641ms/epoch - 2ms/step
Loss: 0.5569204688072205, Accuracy: 0.7279300093650818

In [16]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('./Output/AlphabetSoupCharity.h5')